---
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";

import "../styles/index.css";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import logo from "../assets/anton_zalialdinov_200.png";
import { imagealt, sitename } from "../constants";
import { getJsonMeta } from "../utils";

export interface Props {
  title: string;
  description: string;
  type: "article" | "website";
  dateModified?: string;
}

const { title, description, type } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="h-full dark" data-theme="dark">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Anton Zalialdinov" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content={imagealt} />
    <meta property="og:image" content={logo.src} />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content={sitename} />
    <meta property="og:type" content={type} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script
      defer
      data-domain="zloom.org"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <GoogleAnalytics id="G-C4F267XKY9" />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(getJsonMeta(Astro.props, canonicalURL))}
    />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <section class="min-h-screen">
      <slot />
    </section>
    <Footer />
  </body>
</html>
